* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#scanner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#interactive.viewport {
    width: 80%;
    height: 80%;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e30000;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 1.8em;
    margin: 0;
}

main {
    padding: 10px;
    max-width: 100%;
    margin: 0 auto;
}

.logo-image {
    width: 150px;
    height: auto;
    margin-bottom: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.welcome-section {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.welcome-section h2 {
    font-size: 1.8em;
    margin-bottom: 8px;
}

.welcome-section p {
    margin-bottom: 8px;
}

nav {
    margin-top: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #e30000;
    padding: 10px;
    border-radius: 8px;
    flex-wrap: wrap;
}

nav ul li {
    flex: 1 0 auto;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    background-color: #e30000;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    display: block;
}

nav ul li a:hover {
    background-color: #a93226;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

.inventory-table {
    width: 100%;
    border-collapse: collapse;
}

.inventory-table thead {
    background-color: #e30000;
    color: white;
}

.inventory-table th, .inventory-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.inventory-table th {
    background-color: #e30000;
    color: white;
}

.inventory-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.barcode-wrapper {
    display: flex;
    align-items: center;
}

.barcode-input {
    flex: 1;
    margin-right: 5px;
}

.scan-btn {
    background-color: #e30000;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1em;
}

.scan-btn:hover {
    background-color: #a93226;
}

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 1.5em;
    }

    .welcome-section {
        padding: 12px;
    }

    .welcome-section h2 {
        font-size: 1.5em;
    }

    .welcome-section p {
        font-size: 0.9em;
    }

    nav ul {
        padding: 8px;
        justify-content: center; /* Centraliza os itens em telas menores */
    }

    nav ul li {
        flex: 1 0 50%; /* Dois itens por linha em telas menores */
        margin: 5px; /* Adiciona margem entre os itens */
    }

    nav ul li a {
        padding: 6px 10px;
        font-size: 0.9em;
    }

    .inventory-table thead {
        display: none; /* Esconde os cabeçalhos da tabela em telas menores */
    }

    .inventory-table, .inventory-table tbody, .inventory-table tr, .inventory-table td {
        display: block;
        width: 100%;
    }

    .inventory-table tr {
        margin-bottom: 15px;
        border: 1px solid #ddd; /* Adiciona uma borda entre as linhas */
    }

    .inventory-table td {
        text-align: left; /* Alinha o texto à esquerda para melhor legibilidade */
        padding: 10px;
        position: relative;
    }

    .inventory-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
    }

    .inventory-table td input, .inventory-table td select {
        width: 100%;
    }
}
